
{% extends "staff/class/base.html" %}
{% load static %}
{% load custom_filters %}
{% block title %}Add Holiday Form{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static "css/staff/forms.css" %}">
{% endblock style %}

{% block user-name %}{{staff.name}}{% endblock user-name %}{{staff.name}}

{% block main-content %}
{{ user|set_user }}
<div class="main-content">
    <form action = " {% url "add-holiday-form" class_id %} " class="form" method = "post">
        {% csrf_token %}
        <div class="header">
            <h1 class="semi-bold">Add Holidays</h1>
        </div>
        <div class="field-main-container">
            <div class="field-container hidden">
                <div class="field-label">
                    <label for="" class="">Date :</label>
                </div>
                <div class="field-value">
                    <input type="text" name="class-related" value="{{class_id}}">
                </div>
            </div>
            <div class="field-container">
                <div class="field-label">
                    <label for="" class="date-field medium">Date :</label>
                </div>
                <div class="field-value">
                    <input type="date" name="date" class="date-field">
                </div>
            </div>
            <div class="field-container">
                <div class="field-label">
                    <label for="" class="medium">Description : </label>
                </div>
                <div class="field-value">
                    <input placeholder="Type here..." class="text-field" name = "description" type="text" />
                </div>
            </div>
        </div> 
        <div class="buttons-container">
            <div class="save-and-exit-button">
                <button type = "submit" name = "save-and-exit">Save & Exit</button>
            </div>
            <div class="next-button">
                <button type = "submit" name = "next">Next</button>
            </div>
        </div> 
    </form>
</div>
{% endblock main-content %}

{% block js %}
<script>
    var footer_node = document.getElementById("footer");
    var active_node = footer_node.getElementsByClassName("active")[0];
    active_node.classList.remove("active");
    var notes = document.getElementById("notes");
    notes.classList.add("active");
</script>
{% endblock js %}


