
{% extends "student/class/base.html" %}
{% load static %}
{% load custom_filters %}
{% block title %}Add TimeTable Form{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static "css/staff/forms.css" %}">
{% endblock style %}

{% block class_dropdown %}
<div class="class-dropdown-menu">
    <div id="class-dropdown-menu-content" class="class-dropdown-menu-content">
        {% for class in classes %}
            {% if class.class_id !=  class_id %}
            <a href="{% url "staff-attendance" class.class_id %}" onclick="selectItem(this)" class="uppercase">{{class.class_id}}</a>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock class_dropdown %}

{% block main_content %}
{{ user|set_user }}
<div class="main-content"> 
        <form action="{% url "add-timetable-form" %}" method="post" class="form">
            {% csrf_token %}
            <div class="header margin-btm">
                <h1 class="semi-bold">Add TimeTable</h1>
            </div>
            <div class="field-main-container">
                <div class="field-container margin-btm">
                    <div class="field-label">
                        <label for="day">Select Day :</label>
                    </div>
                    <div class="field-value">
                        <p class="regular">
                            <div class="dropdown-div">
                                <select name="day" id="day" class="dropdown-select" >
                                    <option value="monday">Monday</option>
                                    <option value="tuesday">Tuesday</option>
                                    <option value="wednesday">Wednesday</option>
                                    <option value="thursday">Thursday</option>
                                    <option value="friday">Friday</option>
                                    <option value="saturday">Saturday</option>
                                </select>
                            </div>
                        </p>   
                    </div>
                </div>
                <div class="field-container margin-btm">
                    <div class="field-label">
                        <label for="start-time">Start Time :</label>
                    </div>
                    <div class="field-value">
                        <input type="time" name="start_time" class="time-field">
                    </div>
                </div>
                <div class="field-container margin-btm">
                    <div class="field-label">
                        <label for="end-time">End Time :</label>
                    </div>
                    <div class="field-value">
                        <input type="time" name="end_time" class="time-field">
                    </div>
                </div>
                <div class="field-container margin-btm">
                    <div class="field-label">
                        <label for="period">Select Period:</label>
                    </div>
                    <div class="field-value">
                        <p class="regular">
                            <div class="dropdown-div">
                                <select name="period" id="period" class="dropdown-select">
                                    <option value="default">Please select anyone</option>
                                    <option value="ccbct">CCBCT</option>
                                    <option value="ccs3161">CCS3161</option>
                                    <option value="maths">Maths</option>
                                </select>
                            </div>
                        </p>    
                    </div>
                </div>
            </div>
            <div class="buttons-container submit margin-btm">
                <button type="submit" name="save_and_exit">Save & Exit</button>
                <button type="submit" name="save_and_next">Save & Next</button>  
            </div>
        </form>
</div>
{% endblock main_content %}

{% block js %}
<script>
    var footer_node = document.getElementById("footer");
    var active_node = footer_node.getElementsByClassName("active")[0];
    active_node.classList.remove("active");
    var notes = document.getElementById("notes");
    notes.classList.add("active");
</script>
{% endblock js %}



