
{% extends "staff/class/base.html" %}
{% load static %}
{% load custom_filters %}
{% block title %}Add Staff Form{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static "css/staff/forms.css" %}">
{% endblock style %}

{% block user-name %}{{staff.name}}{% endblock user-name %}{{staff.name}}

{% block main-content %}
{{ user|set_user }}
<div class="main-content">
    <form action = "" class="form">
        {% csrf_token %}
        <div class="header">
            <h1 class="semi-bold">Add Staffs</h1>
          </div>
          <div class="field-main-container">
            <div class="field-container">
                <div class="field-label">
                    <label for="" class="medium">Staff name :</label>
                </div>
                <div class="field-value">
                    <input type="text" placeholder="Mr/Ms. name" class="text-field">
                </div>
            </div>
            <div class="field-container">
                <div class="field-label">
                    <label for="" class="medium">Mobile number :</label>
                </div>
                <div class="field-value">
                    <input type="number" placeholder="xxxxx-xxxxx" class="number-field">
                </div>
            </div>
            <div class="field-container">
                <div class="field-label">
                    <label for="" class="medium">Email :</label>
                </div>
                <div class="field-value">
                    <input type="email" placeholder="abc@gmail.com" class="email-field">
                </div>
            </div>
            <div class="field-container">
                <div class="field-label">
                    <label for="" class="medium">Registration no :</label>
                </div>
                <div class="field-value">
                    <input type="number" class="number-field">
                </div>
            </div>
          </div>
          <div class="buttons-container">
            <div class="save-and-exit-button">
                <button>Save & Exit</button>
            </div>
            <div class="next-button">
                <button>Next</button>
            </div>
        </div>
    </form>
</div>
{% endblock main-content %}

{% block js %}
<script>
    var footer_node = document.getElementById("footer");
    var active_node = footer_node.getElementsByClassName("active")[0];
    active_node.classList.remove("active");
    var notes = document.getElementById("notes");
    notes.classList.add("active");
</script>
{% endblock js %}



