{% extends "staff/class/base.html" %}
{% load static %}
{% load custom_filters %}
{% block title %}Attendance{% endblock title %}

{% block style %}
    <link rel="stylesheet" href= "{% static "css/staff/attendance.css" %}" >
{% endblock style %}

{% block class_dropdown %}
<div class="class-dropdown-menu">
    <div id="class-dropdown-menu-content" class="class-dropdown-menu-content">
        {% for class in classes %}
            {% if class.class_id !=  class_id %}
            <a href="{% url "staff-attendance" class.class_id %}" onclick="selectItem(this)" class="uppercase">{{class.class_id}}</a>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock class_dropdown %}

{% block main_content %}

<div class="main-content">
    {% if holiday %}
    <div class="holiday">
        <img src="{% static "img/holiday.png" %}" alt="">
    </div>
    {% else %}
    <div class="attendance">
        <div class="day-present " id="day-present">
            <div class="card-head">
                <h1 class="bold">Present on {{date}}</h1>
            </div>
            <div class="card-footer">
                <div>
                    <span>{{present}}<span>
                </div>
                <div>
                    Out Of {{strength}}
                </div>

            </div>
            
        </div>
        <div class="day-absent " id="day-absent">
            <div class="card-head">
                <h1 class="bold">Absent on {{date}}</h1>
            </div>
            <div class="card-footer">
                <div>
                    <span>{{absent}}</span>
                </div>
                <div>
                    Out Of {{strength}}
                </div>

            </div>
            
        </div>
        
    </div>

    <div class="absentees-container">
        <h1 class="bold">Absentees List</h1>
        
        <div class="table-container">
            <table>
                <tr>
                    <th>
                        Register No
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Total Leaves
                    </th>
                    <th>
                        Attendance(%)
                    </th>
                </tr>
                {% for absent_student in absentees %}
                    <tr>
                        <td>{{absent_student.register_number}}</td>
                        <td>{{absent_student.name}}</td>
                        <td id="{{absent_student.user.username}}-leaves">{{absent_student|calculate_leaves}}</td>
                        <td id="{{absent_student.user.username}}-attendance">{{absent_student|calculate_attendance}}</td>
                    </tr>
                {% endfor %}
            </table>

        </div>

    </div>
    {% endif %}
</div>

{% endblock main_content %}

{% block js %}{% endblock js %}