{% extends "staff/class/base.html" %}
{% load static %}
{% load custom_filters %}
{% block title %}TimeTable{% endblock title %}

{% block style %}
    <link rel="stylesheet" href= "{% static 'css/student/timetable.css' %}" >
{% endblock style %}

{% block class_dropdown %}
<div class="class-dropdown-menu">
    <div id="class-dropdown-menu-content" class="class-dropdown-menu-content">
        {% for class in classes %}
            {% if class.class_id !=  class_id %}
                <a href="{% url "staff-timetable" class.class_id %}" onclick="selectItem(this)" class="uppercase">{{class.class_id}}</a>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock class_dropdown %}

{% block main_content %}
    {{ class_id|set_class_id }}
    <div class="main-content">
        <div class="weekly-timetable">
                <h1 class="semi-bold">Weekly Schedule</h1>
                <div class="table-container">
                    <table>
                        <tbody id="weekly-timetable">
                            <tr id="period-counter">
                                <th>Periods</th>
                            </tr>
                            <tr id="timings">
                                <th>Days</th>
                            </tr>
                        </tbody>
                    </table>
                </div>                    
        </div>
        <div class="academic-calendar">
            <h1 class="semi-bold">Academic calendar</h1>
            {% for month, month_cal in cal.items %}
            <div class="table-container">
                <table>
                    <tr><th colspan="7">{{month}}</th></tr>   
                    <tr>
                        <th>Mon</th>    
                        <th>Tue</th>
                        <th>Wed</th>
                        <th>Thu</th>
                        <th>Fri</th>
                        <th>Sat</th>
                        <th>Sun</th>
                    </tr>
                    {% for week in month_cal %}
                        <tr>
                            {% for day in week %}
                                {% if day == 0 %}
                                    <td></td>
                                {% else %}
                                    {% if month|staff_check_holiday:day %}
                                        <td class="holiday">{{day}}</td>
                                    {% else %}
                                    <td class="working">{{day}}</td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
            {% endfor %}
            
            
        </div>
        <div class="exam-timetable"></div>
    </div>
{% endblock main_content %}

{% block js %}
<script>
    var footer_node = document.getElementById("footer");
    var active_node = footer_node.getElementsByClassName("active")[0];
    active_node.classList.remove("active");
    var timetable = document.getElementById("timetable");
    timetable.classList.add("active");

    {% for day, day_timetable in timetable.items %}
        var counter = 0;
        var day = "{{day|safe}}";
        var timetable = document.getElementById("weekly-timetable");
        var timetable_row = document.createElement("tr");
        var timetable_row_data = document.createElement("td");
        timetable_row.id=day;
        timetable_row_data.innerText = day.charAt(0).toUpperCase()+day.slice(1);
        timetable_row.appendChild(timetable_row_data);
        timetable.append(timetable_row);
        {% for period in day_timetable %}
            var staff = "{{period.subject.staff}}";
            if(staff!="None") {
                counter += 1;
            }
            if(day=="monday") {
                var period_counter = document.getElementById("period-counter");
                var  period_counter_th= document.createElement('th');
                if(staff!="None") {
                    period_counter_th.textContent = counter;
                    var timings = document.getElementById("timings");
                    var timings_th = document.createElement("th");
                    var end_time = '{{period.end_time|time:"H:i"}}'
                    timings_th.textContent = "{{period.start_time|time:'H:i'}} to {{period.end_time|time:'H:i'}}";
                    timings.appendChild(timings_th)
                }
                else {
                    period_counter_th.textContent = "{{period.subject.name}}"
                    period_counter_th.rowSpan = "8";
                    period_counter_th.style.writingMode="vertical-lr";
                    period_counter_th.style.textOrientation = "upright";
                    period_counter_th.style.letterSpacing="10px";
                }
                period_counter.appendChild(period_counter_th)
            }
            if(staff!="None"){
                var timetable_row = document.getElementById(day);
                var timetable_row_data = document.createElement("td");
                if(staff=="{{staff}}"){
                    timetable_row_data.textContent = "{{period.subject.name|safe}}";
                }
                else {
                    timetable_row_data.textContent = "-";
                }
                timetable_row.appendChild(timetable_row_data);
            }
        {% endfor %}
    {% endfor %}
</script>
{% endblock js %}