{% extends "student/class/base.html" %}
{% load static %}
{% block title %}Attendance{% endblock title %}

{% block style %}
    <link rel="stylesheet" href= "{% static "css/student/attendance.css" %}" >
{% endblock style %}

{% block user-name %}{{student.name}}{% endblock user-name %}

{% block main-content %}
<div class="main-content">
    <div class="attendance">
        <div class="month-attendance" id="month-attendance">
            <div class="card-head">
                <h1 class="bold">Current Month</h1>
            </div>
            <span>{{month_percent}}%</span>
        </div>
        <div class="sem-attendance" id="sem-attendance">
            <div class="card-head">
                <h1 class="bold">Current Semester</h1>
            </div>
            <span>{{sem_percent}}%</span>
        </div>
    </div>
    <div class="weekly-analysis" id="weekly-analysis">
        <div class="info-header">
            Weekly Report Based On Attendance Stats
        </div>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Day</th>
                        <th>Leaves</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="monday">
                        <td>Monday</td>
                        <td class="count">0</td>
                    </tr>
                    <tr id="tuesday">
                        <td>Tuesday</td>
                        <td class="count">0</td>
                    </tr>
                    <tr id="wednesday">
                        <td>Wednesday</td>
                        <td class="count">0</td>
                    </tr>
                    <tr id="thursday">
                        <td>Thursday</td>
                        <td class="count">0</td>
                    </tr>
                    <tr id="friday">
                        <td>Friday</td>
                        <td class="count">0</td>
                    </tr>
                    <tr id="saturday">
                        <td>Saturday</td>
                        <td class="count">0</td>
                    </tr>
                    <tr>
                        <td class="bold">Total</td>
                        <td class="bold">{{leaves}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="leaves-availed">
        <div class="info-header">
            Leaves Record Based On Attendance Stats
        </div>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Day</th>
                    </tr>
                </thead>
                <tbody>
                    {% for date, day in leaves_availed.items %}
                        <tr>
                            <td>{{date.date}}</td>
                            <td>{{day}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock main-content %}

{% block js %}
<script>
    var weekly_analysis = document.getElementById("weekly-analysis")
    {% for day, report in weekly_report.items %}
        var tr = document.getElementById("{{day}}");
        var count_td = tr.getElementsByClassName("count")[0];
        count_td.innerText = "{{report}}";
        console.log(tr)
    {% endfor %}
</script>
{% endblock js %}