{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BASE{% endblock title %}</title>
    <!-- google icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <link rel="stylesheet" href=" {% static "css/common/style.css" %} ">
    {% block style %}

    {% endblock style %}
</head>
<body>
    <!-- Complete Page -->
    <div class="container">
        <!-- Complete Sidebar -->
        <div class="sidebar" id="sidebar">
            <div class="logo">
                <h1 class="bold cursor-pointer">VSTUD</h1>
            </div>
            <div class="sidebar-menu">
                <div class="menu-items">
                    <div class="menu-item">
                        <a href=" {% url "attendance" %} ">
                            <div class="menu-item-content active">
                                <span class="material-symbols-outlined">School</span>
                                <span class="menu-text">Class</span>
                            </div>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a href=" {% url "attendance" %} ">
                            <div class="menu-item-content">
                                <span class="material-symbols-outlined">library_books</span>
                                <span class="menu-text">Library</span>
                            </div>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a href=" {% url "ia-result" %} ">
                            <div class="menu-item-content">
                                <span class="material-symbols-outlined">backpack</span>
                                <span class="menu-text">Results</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="overlay" id="overlay"></div>
            <div class="toolbar">
                <div class="initial">
                    <div class="menu-btn" id="menu-btn">
                        <span class="material-symbols-outlined openbtn cursor-pointer" onclick="openNav()">
                            menu
                        </span>
                    </div>
                </div>
                <div class="profile-container">
                        <span class="material-symbols-outlined cursor-pointer">
                            account_circle
                        </span>
                </div>
            </div>
            <div class="profile-dropdown-menu">
                <div id="profile-dropdown-menu-content" class="profile-dropdown-menu-content">
                    <div class="greeting">
                        {% if student %}
                            <h4 class="bold">Hello, {{student.name}}</h4>
                        {% elif staff %}
                        <h4 class="bold">Hello, {{staff.name}}</h4>
                        {% endif %}
                    </div>
                    <a href="#" >Profile</a>
                    <a href="{% url 'check-mail-notification' %}?email={{ user_email }}">Reset Password</a>
                    <a href="{% url "logout" %}" >Logout</a>
                </div>
            </div>
            {% block main-content %}
            <div class="main-content"></div>
            {% endblock main-content %}
            <div class="footer-menu" id="footer">
                <div class="footer-menu-items">
                    <a href=" {% url "attendance" %} ">
                        <div class="footer-menu-item active" id="attendance">
                            <span class="material-symbols-outlined">group</span>
                            <span class="menu-text">Attendance</span>
                        </div>
                    </a>
                    <a href=" {% url "notes" %} ">
                        <div class="footer-menu-item" id="notes">
                            <span class="material-symbols-outlined">notes</span>
                            <span class="menu-text">Notes</span>
                        </div>
                    </a>
                    <a href=" {% url "timetable" %} ">
                        <div class="footer-menu-item" id="timetable">
                            <span class="material-symbols-outlined">today</span>
                            <span class="menu-text">TimeTable</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script src=" {% static "js/script.js" %} "></script>
    {% block js %}{% endblock js %}
</body>
</html>