html, body {
    height: 100%;
  }
  
.main-content {
      padding: 30px;
}

.marks-table {
    overflow-y: hidden;
    height: 420px;  
    padding-bottom: 20px;
}

td, th {
    border: 1px solid #000;
    padding: 10px;
}

th {
  background-color: #594bda20;
}

button {
      padding: 6px 15px;
      text-align: center;
      font-size: 14px;
      letter-spacing: 0.5px;
      text-decoration: none;
      color: white;
      background-color: #5a4bda;
      cursor: pointer;
      transition: ease-out 1s;
      border: 1px solid #5a4bda;
      border-radius: 10px;
}

button:active {
  transform: scale(0.9);
}


.ia-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    box-shadow: 0px 0px 10px 3px #0000000d; 
    -webkit-box-shadow: 0px 0px 10px 3px #0000000d;
    -moz-box-shadow: 0px 0px 10px 3px #0000000d;
    padding: 29px;
    border-radius: 10px;
    transition: height 0.5s ease;
    background-color: white;
    margin-bottom: 20px;
    height: 420px;
    
  }

  .header {
    /* display: flex; */
    margin-bottom: 20px;
  }

  .expand-button {
    align-self: flex-end;
    padding-right: 10px;

    }

   

